@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media print {
        print-color-adjust: exact;
    }
}

@layer utilities{
    .bb {
        border: 1px dashed black;
    }
    .bw {
        border: 1px dashed white;
    }

    .number-input::-webkit-inner-spin-button,
    .number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    .number-input {
    -moz-appearance: textfield;
    }
}