@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media print {
        print-color-adjust: exact;
    }
}

@layer utilities{
    .bb {
        border: 1px dashed black;
    }
    .bw {
        border: 1px dashed white;
    }
}